# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'New SCRAP': 'scrapfy:create'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'SCRAPfy'
      'submenu': [
        { 'label': 'Create', 'command': 'scrapfy:create' }
      ]
    ]
  }
]
